{
 "cells": [
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Import libraries",
   "id": "a6fedf93b5601f3"
  },
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:21.039690Z",
     "start_time": "2025-06-01T11:37:21.036957Z"
    }
   },
   "source": [
    "import pandas as pd\n",
    "import numpy as np\n",
    "import matplotlib.pyplot as plt\n",
    "import seaborn as sns\n",
    "from sklearn.model_selection import train_test_split\n"
   ],
   "outputs": [],
   "execution_count": 549
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Read csv with questions",
   "id": "10b20dbe088b3cbe"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:21.200117Z",
     "start_time": "2025-06-01T11:37:21.196067Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# question_df = pd.read_csv(\"C:\\\\Users\\\\tomek\\\\Desktop\\\\PG\\\\survey_results_schema.csv\")\n",
    "# question_df"
   ],
   "id": "89bc315cf247b1b",
   "outputs": [],
   "execution_count": 550
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Read csv with answers",
   "id": "9866abefa186b2d1"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.210819Z",
     "start_time": "2025-06-01T11:37:21.223006Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df = pd.read_csv(\"C:\\\\Users\\\\tomek\\\\Desktop\\\\PG\\\\survey_results_public.csv\")\n",
    "df.head(10)"
   ],
   "id": "a5b1afa2c588cd27",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "   Respondent                                       Professional  \\\n",
       "0           1                                            Student   \n",
       "1           2                                            Student   \n",
       "2           3                             Professional developer   \n",
       "3           4  Professional non-developer who sometimes write...   \n",
       "4           5                             Professional developer   \n",
       "5           6                                            Student   \n",
       "6           7  Professional non-developer who sometimes write...   \n",
       "7           8                             Professional developer   \n",
       "8           9                             Professional developer   \n",
       "9          10                             Professional developer   \n",
       "\n",
       "                ProgramHobby         Country      University  \\\n",
       "0                  Yes, both   United States              No   \n",
       "1                  Yes, both  United Kingdom  Yes, full-time   \n",
       "2                  Yes, both  United Kingdom              No   \n",
       "3                  Yes, both   United States              No   \n",
       "4  Yes, I program as a hobby     Switzerland              No   \n",
       "5                  Yes, both     New Zealand  Yes, full-time   \n",
       "6                  Yes, both   United States              No   \n",
       "7                  Yes, both          Poland              No   \n",
       "8  Yes, I program as a hobby        Colombia  Yes, part-time   \n",
       "9  Yes, I program as a hobby          France  Yes, full-time   \n",
       "\n",
       "                                    EmploymentStatus  \\\n",
       "0             Not employed, and not looking for work   \n",
       "1                                 Employed part-time   \n",
       "2                                 Employed full-time   \n",
       "3                                 Employed full-time   \n",
       "4                                 Employed full-time   \n",
       "5             Not employed, and not looking for work   \n",
       "6                                 Employed full-time   \n",
       "7                                 Employed full-time   \n",
       "8                                 Employed full-time   \n",
       "9  Independent contractor, freelancer, or self-em...   \n",
       "\n",
       "                                     FormalEducation  \\\n",
       "0                                   Secondary school   \n",
       "1  Some college/university study without earning ...   \n",
       "2                                  Bachelor's degree   \n",
       "3                                    Doctoral degree   \n",
       "4                                    Master's degree   \n",
       "5                                   Secondary school   \n",
       "6                                    Master's degree   \n",
       "7                                    Master's degree   \n",
       "8                                  Bachelor's degree   \n",
       "9                                    Master's degree   \n",
       "\n",
       "                                  MajorUndergrad  \\\n",
       "0                                            NaN   \n",
       "1       Computer science or software engineering   \n",
       "2       Computer science or software engineering   \n",
       "3  A non-computer-focused engineering discipline   \n",
       "4       Computer science or software engineering   \n",
       "5                                            NaN   \n",
       "6  A non-computer-focused engineering discipline   \n",
       "7       Computer science or software engineering   \n",
       "8       Computer science or software engineering   \n",
       "9       Computer science or software engineering   \n",
       "\n",
       "                                          HomeRemote  \\\n",
       "0                                                NaN   \n",
       "1              More than half, but not all, the time   \n",
       "2  Less than half the time, but at least one day ...   \n",
       "3  Less than half the time, but at least one day ...   \n",
       "4                                              Never   \n",
       "5                                                NaN   \n",
       "6  Less than half the time, but at least one day ...   \n",
       "7  All or almost all the time (I'm full-time remote)   \n",
       "8  Less than half the time, but at least one day ...   \n",
       "9                                   It's complicated   \n",
       "\n",
       "                CompanySize  ... StackOverflowMakeMoney Gender  \\\n",
       "0                       NaN  ...      Strongly disagree   Male   \n",
       "1        20 to 99 employees  ...      Strongly disagree   Male   \n",
       "2  10,000 or more employees  ...               Disagree   Male   \n",
       "3  10,000 or more employees  ...               Disagree   Male   \n",
       "4        10 to 19 employees  ...                    NaN    NaN   \n",
       "5                       NaN  ...               Disagree    NaN   \n",
       "6        20 to 99 employees  ...               Disagree   Male   \n",
       "7   Fewer than 10 employees  ...         Somewhat agree   Male   \n",
       "8  5,000 to 9,999 employees  ...      Strongly disagree   Male   \n",
       "9                       NaN  ...               Disagree   Male   \n",
       "\n",
       "  HighestEducationParents                          Race         SurveyLong  \\\n",
       "0             High school  White or of European descent  Strongly disagree   \n",
       "1       A master's degree  White or of European descent     Somewhat agree   \n",
       "2   A professional degree  White or of European descent     Somewhat agree   \n",
       "3       A doctoral degree  White or of European descent              Agree   \n",
       "4                     NaN                           NaN                NaN   \n",
       "5     A bachelor's degree  White or of European descent           Disagree   \n",
       "6       A doctoral degree  White or of European descent           Disagree   \n",
       "7       A master's degree  White or of European descent              Agree   \n",
       "8     A bachelor's degree     Hispanic or Latino/Latina     Somewhat agree   \n",
       "9       A doctoral degree  White or of European descent     Somewhat agree   \n",
       "\n",
       "  QuestionsInteresting QuestionsConfusing InterestedAnswers    Salary  \\\n",
       "0       Strongly agree           Disagree    Strongly agree       NaN   \n",
       "1       Somewhat agree           Disagree    Strongly agree       NaN   \n",
       "2                Agree           Disagree             Agree  113750.0   \n",
       "3                Agree     Somewhat agree    Strongly agree       NaN   \n",
       "4                  NaN                NaN               NaN       NaN   \n",
       "5                Agree           Disagree             Agree       NaN   \n",
       "6                Agree           Disagree             Agree       NaN   \n",
       "7       Somewhat agree           Disagree             Agree       NaN   \n",
       "8       Strongly agree           Disagree    Strongly agree       NaN   \n",
       "9                Agree           Disagree             Agree       NaN   \n",
       "\n",
       "   ExpectedSalary  \n",
       "0             NaN  \n",
       "1         37500.0  \n",
       "2             NaN  \n",
       "3             NaN  \n",
       "4             NaN  \n",
       "5             NaN  \n",
       "6             NaN  \n",
       "7             NaN  \n",
       "8             NaN  \n",
       "9             NaN  \n",
       "\n",
       "[10 rows x 154 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Professional</th>\n",
       "      <th>ProgramHobby</th>\n",
       "      <th>Country</th>\n",
       "      <th>University</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>MajorUndergrad</th>\n",
       "      <th>HomeRemote</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>...</th>\n",
       "      <th>StackOverflowMakeMoney</th>\n",
       "      <th>Gender</th>\n",
       "      <th>HighestEducationParents</th>\n",
       "      <th>Race</th>\n",
       "      <th>SurveyLong</th>\n",
       "      <th>QuestionsInteresting</th>\n",
       "      <th>QuestionsConfusing</th>\n",
       "      <th>InterestedAnswers</th>\n",
       "      <th>Salary</th>\n",
       "      <th>ExpectedSalary</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>Student</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>United States</td>\n",
       "      <td>No</td>\n",
       "      <td>Not employed, and not looking for work</td>\n",
       "      <td>Secondary school</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>Strongly disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>High school</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Strongly disagree</td>\n",
       "      <td>Strongly agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Strongly agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>Student</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>Yes, full-time</td>\n",
       "      <td>Employed part-time</td>\n",
       "      <td>Some college/university study without earning ...</td>\n",
       "      <td>Computer science or software engineering</td>\n",
       "      <td>More than half, but not all, the time</td>\n",
       "      <td>20 to 99 employees</td>\n",
       "      <td>...</td>\n",
       "      <td>Strongly disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A master's degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Strongly agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>37500.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>3</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>United Kingdom</td>\n",
       "      <td>No</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Computer science or software engineering</td>\n",
       "      <td>Less than half the time, but at least one day ...</td>\n",
       "      <td>10,000 or more employees</td>\n",
       "      <td>...</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A professional degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>113750.0</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>4</td>\n",
       "      <td>Professional non-developer who sometimes write...</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>United States</td>\n",
       "      <td>No</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Doctoral degree</td>\n",
       "      <td>A non-computer-focused engineering discipline</td>\n",
       "      <td>Less than half the time, but at least one day ...</td>\n",
       "      <td>10,000 or more employees</td>\n",
       "      <td>...</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A doctoral degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Strongly agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>5</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Yes, I program as a hobby</td>\n",
       "      <td>Switzerland</td>\n",
       "      <td>No</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Computer science or software engineering</td>\n",
       "      <td>Never</td>\n",
       "      <td>10 to 19 employees</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>5</th>\n",
       "      <td>6</td>\n",
       "      <td>Student</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>Yes, full-time</td>\n",
       "      <td>Not employed, and not looking for work</td>\n",
       "      <td>Secondary school</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>A bachelor's degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>6</th>\n",
       "      <td>7</td>\n",
       "      <td>Professional non-developer who sometimes write...</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>United States</td>\n",
       "      <td>No</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>A non-computer-focused engineering discipline</td>\n",
       "      <td>Less than half the time, but at least one day ...</td>\n",
       "      <td>20 to 99 employees</td>\n",
       "      <td>...</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A doctoral degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7</th>\n",
       "      <td>8</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Yes, both</td>\n",
       "      <td>Poland</td>\n",
       "      <td>No</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Computer science or software engineering</td>\n",
       "      <td>All or almost all the time (I'm full-time remote)</td>\n",
       "      <td>Fewer than 10 employees</td>\n",
       "      <td>...</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A master's degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8</th>\n",
       "      <td>9</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Yes, I program as a hobby</td>\n",
       "      <td>Colombia</td>\n",
       "      <td>Yes, part-time</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Computer science or software engineering</td>\n",
       "      <td>Less than half the time, but at least one day ...</td>\n",
       "      <td>5,000 to 9,999 employees</td>\n",
       "      <td>...</td>\n",
       "      <td>Strongly disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A bachelor's degree</td>\n",
       "      <td>Hispanic or Latino/Latina</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Strongly agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Strongly agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>10</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Yes, I program as a hobby</td>\n",
       "      <td>France</td>\n",
       "      <td>Yes, full-time</td>\n",
       "      <td>Independent contractor, freelancer, or self-em...</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Computer science or software engineering</td>\n",
       "      <td>It's complicated</td>\n",
       "      <td>NaN</td>\n",
       "      <td>...</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Male</td>\n",
       "      <td>A doctoral degree</td>\n",
       "      <td>White or of European descent</td>\n",
       "      <td>Somewhat agree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>Disagree</td>\n",
       "      <td>Agree</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10 rows × 154 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 551,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 551
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Checking unique values",
   "id": "68d0bf4a024c122"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.220971Z",
     "start_time": "2025-06-01T11:37:22.210819Z"
    }
   },
   "cell_type": "code",
   "source": [
    "print(df['CompanySize'].unique())\n",
    "print(\"\\n\")\n",
    "print(df['CompanyType'].unique())\n",
    "print(\"\\n\")\n",
    "print(df['Currency'].unique())"
   ],
   "id": "527ac2015dd87c00",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "[nan '20 to 99 employees' '10,000 or more employees' '10 to 19 employees'\n",
      " 'Fewer than 10 employees' '5,000 to 9,999 employees'\n",
      " '100 to 499 employees' '1,000 to 4,999 employees' '500 to 999 employees'\n",
      " \"I don't know\" 'I prefer not to answer']\n",
      "\n",
      "\n",
      "[nan 'Privately-held limited company, not in startup mode'\n",
      " 'Publicly-traded corporation'\n",
      " 'Non-profit/non-governmental organization or private school/university'\n",
      " 'Government agency or public school/university' 'Pre-series A startup'\n",
      " 'Venture-funded startup' \"I don't know\"\n",
      " 'Sole proprietorship or partnership, not in startup mode'\n",
      " 'I prefer not to answer' 'State-owned company' 'Something else']\n",
      "\n",
      "\n",
      "[nan 'British pounds sterling (£)' 'Canadian dollars (C$)'\n",
      " 'U.S. dollars ($)' 'Euros (€)' 'Brazilian reais (R$)' 'Indian rupees (?)'\n",
      " 'Polish zloty (zl)' 'Swedish kroner (SEK)' 'Russian rubles (?)'\n",
      " 'Swiss francs' 'Australian dollars (A$)' 'Mexican pesos (MXN$)'\n",
      " 'Japanese yen (¥)' 'Chinese yuan renminbi (¥)' 'Singapore dollars (S$)'\n",
      " 'Bitcoin (btc)' 'South African rands (R)']\n"
     ]
    }
   ],
   "execution_count": 552
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Checking number of rows",
   "id": "87d03fc45d5df34c"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.304205Z",
     "start_time": "2025-06-01T11:37:22.220971Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_prof = df[~df[\"Professional\"].isin([\"Student\", \"None of these\"])]\n",
    "print(f\"Length of DataFrame: {len(df_prof)} rows\")\n",
    "\n",
    "df_stud = df[df[\"Professional\"] == \"Student\"]\n",
    "print(f\"Length of DataFrame: {len(df_stud)} rows\")\n",
    "\n",
    "df_none = df[df[\"Professional\"] == \"None of these\"]\n",
    "print(f\"Length of DataFrame: {len(df_none)} rows\")\n",
    "\n",
    "print(f\"Sum of rows: {len(df_prof) + len(df_stud) + len(df_none)}\")"
   ],
   "id": "113797ecafac80d3",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Length of DataFrame: 42254 rows\n",
      "Length of DataFrame: 8224 rows\n",
      "Length of DataFrame: 914 rows\n",
      "Sum of rows: 51392\n"
     ]
    }
   ],
   "execution_count": 553
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Preparing dataset",
   "id": "ccb5078e73b4dbd1"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "",
   "id": "269007da8d469323"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.367660Z",
     "start_time": "2025-06-01T11:37:22.304205Z"
    }
   },
   "cell_type": "code",
   "source": [
    "countries = [\"Austria\", \"Belarus\", \"Belgium\", \"Bulgaria\", \"Croatia\", \"Czech Republic\", \"Denmark\", \"Estonia\", \"Finland\", \"France\", \"Germany\", \"Greece\", \"Ireland\", \"Italy\", \"Lithuania\", \"Luxembourg\", \"Netherlands\", \"Norway\", \"Poland\", \"Portugal\",\"Romania\", \"Serbia\", \"Slovak Republic\", \"Slovenia\", \"Spain\", \"Sweden\", \"Switzerland\", \"United Kingdom\", \"United States\"]\n",
    "\n",
    "columns = [\"Respondent\", \"Gender\", \"Country\", \"EmploymentStatus\", \"FormalEducation\", \"CompanyType\",  \"CompanySize\", \"Currency\", \"Professional\", \"HaveWorkedLanguage\", \"JobSatisfaction\", \"Salary\"] \n",
    "# \"WantWorkLanguage\" column excluded from the list\n",
    "\n",
    "# Filter by country and select rows which we are interested in\n",
    "df_filtered = df[df[\"Country\"].isin(countries)][columns]\n",
    "\n",
    "# Split into two groups\n",
    "df_students = df_filtered[df_filtered[\"Professional\"] == \"Student\"].reset_index(drop=True)\n",
    "\n",
    "df_professionals = df_filtered[\n",
    "    ~df_filtered[\"Professional\"].isin([\"Student\", \"None of these\"])\n",
    "].reset_index(drop=True)\n",
    "\n",
    "print(f\"Filtered: {len(df_filtered)} rows\")\n",
    "print(f\"Students: {len(df_students)} rows\")\n",
    "print(f\"Professionals: {len(df_professionals)} rows\")\n",
    "print(f\"Sum of rows: {len(df_students) + len(df_professionals)}\")"
   ],
   "id": "be7d6f105d5dc2b0",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Filtered: 31863 rows\n",
      "Students: 4536 rows\n",
      "Professionals: 26703 rows\n",
      "Sum of rows: 31239\n"
     ]
    }
   ],
   "execution_count": 554
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.373359Z",
     "start_time": "2025-06-01T11:37:22.367660Z"
    }
   },
   "cell_type": "code",
   "source": "df_professionals[\"Currency\"].unique()",
   "id": "9338560cdcc2f5b8",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['British pounds sterling (£)', nan, 'U.S. dollars ($)',\n",
       "       'Euros (€)', 'Polish zloty (zl)', 'Swedish kroner (SEK)',\n",
       "       'Swiss francs', 'Australian dollars (A$)',\n",
       "       'Chinese yuan renminbi (¥)', 'Japanese yen (¥)',\n",
       "       'Indian rupees (?)', 'Canadian dollars (C$)', 'Bitcoin (btc)',\n",
       "       'Mexican pesos (MXN$)', 'Russian rubles (?)',\n",
       "       'Brazilian reais (R$)'], dtype=object)"
      ]
     },
     "execution_count": 555,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 555
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "## Assumption\n",
    "We will focus only on group of professionals due to the fact that only those group of respondents can give us valuable information about salaries and job satisfaction levels. "
   ],
   "id": "73bd8e6cd166e0f"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Dictionaries creation",
   "id": "997d2660112525de"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.462648Z",
     "start_time": "2025-06-01T11:37:22.373359Z"
    }
   },
   "cell_type": "code",
   "source": [
    "gender_map = {\"Male\": 0, \"Female\": 1, \"Transgender\": 2, \"Gender non-conforming\": 3, \"Other\": 4}\n",
    "\n",
    "company_size_num = {\n",
    "    \"Fewer than 10 employees\": 1, \"10 to 19 employees\": 2, \"20 to 99 employees\": 3, \n",
    "    \"100 to 499 employees\": 4, \"500 to 999 employees\": 5, \"1,000 to 4,999 employees\": 6, \n",
    "    \"5,000 to 9,999 employees\": 7, \"10,000 or more employees\": 8\n",
    "}\n",
    "\n",
    "currencies_to_dollar = {\n",
    "    \"British pounds sterling (£)\": 1.33, \"Euros (€)\": 1.13, \"Polish zloty (zl)\": 0.27,\n",
    "    \"Swedish kroner (SEK)\": 0.1, \"Swiss francs\": 1.2, \"Australian dollars (A$)\": 0.64,\n",
    "    \"Chinese yuan renminbi (¥)\": 0.14, \"Japanese yen (¥)\": 0.0069, \"Indian rupees (?)\": 0.012,\n",
    "    \"Canadian dollars (C$)\": 0.72, \"Bitcoin (btc)\": 103913.38, \"Mexican pesos (MXN$)\": 0.51,\n",
    "    \"Russian rubles (?)\": 0.012, \"Brazilian reais (R$)\": 0.18, \"U.S. dollars ($)\": 1\n",
    "}\n",
    "\n",
    "countries = [\n",
    "    \"Austria\", \"Belarus\", \"Belgium\", \"Bulgaria\", \"Croatia\", \"Czech Republic\", \"Denmark\",\n",
    "    \"Estonia\", \"Finland\", \"France\", \"Germany\", \"Greece\", \"Ireland\", \"Italy\", \"Lithuania\",\n",
    "    \"Luxembourg\", \"Netherlands\", \"Norway\", \"Poland\", \"Portugal\", \"Romania\", \"Serbia\",\n",
    "    \"Slovak Republic\", \"Slovenia\", \"Spain\", \"Sweden\", \"Switzerland\", \"United Kingdom\", \"United States\"\n",
    "]\n",
    "country_map = {name: idx for idx, name in enumerate(countries)}\n",
    "\n",
    "# Apply mappings and transformations\n",
    "\n",
    "df_professionals[\"Gender\"] = df_professionals[\"Gender\"].astype(str).apply(lambda g: g.split(\";\")[0].strip())\n",
    "df_professionals[\"Gender\"] = df_professionals[\"Gender\"].map(gender_map)\n",
    "\n",
    "df_professionals[\"CompanySize\"] = df_professionals[\"CompanySize\"].map(company_size_num)\n",
    "\n",
    "df_professionals[\"Salary\"] = pd.to_numeric(df_professionals[\"Salary\"], errors='coerce')\n",
    "\n",
    "df_professionals = df_professionals.dropna(subset=[\"Salary\", \"Currency\", \"Country\"])\n",
    "\n",
    "df_professionals[\"SalaryUSD\"] = df_professionals.apply(\n",
    "    lambda row: row[\"Salary\"] * currencies_to_dollar.get(row[\"Currency\"], np.nan), axis=1\n",
    ")\n",
    "\n",
    "df_professionals[\"Country\"] = df_professionals[\"Country\"].map(country_map)"
   ],
   "id": "c1bda7844209659e",
   "outputs": [],
   "execution_count": 556
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.477286Z",
     "start_time": "2025-06-01T11:37:22.462648Z"
    }
   },
   "cell_type": "code",
   "source": [
    "print(f\"Professionals: {len(df_professionals)} rows\")\n",
    "df_professionals.head(10)"
   ],
   "id": "2840241d85746580",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Professionals: 8941 rows\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "    Respondent  Gender  Country    EmploymentStatus  \\\n",
       "0            3     0.0       27  Employed full-time   \n",
       "9           15     0.0       27  Employed full-time   \n",
       "12          18     0.0       28  Employed full-time   \n",
       "13          19     NaN       28  Employed full-time   \n",
       "18          26     0.0       28  Employed full-time   \n",
       "21          35     0.0        4  Employed full-time   \n",
       "23          38     0.0       10  Employed full-time   \n",
       "33          55     0.0       10  Employed full-time   \n",
       "35          58     0.0       13  Employed full-time   \n",
       "38          65     0.0       16  Employed full-time   \n",
       "\n",
       "                                      FormalEducation  \\\n",
       "0                                   Bachelor's degree   \n",
       "9                                 Professional degree   \n",
       "12                                  Bachelor's degree   \n",
       "13                                  Bachelor's degree   \n",
       "18                                    Master's degree   \n",
       "21                                  Bachelor's degree   \n",
       "23  Some college/university study without earning ...   \n",
       "33                                    Master's degree   \n",
       "35                                    Master's degree   \n",
       "38                                    Master's degree   \n",
       "\n",
       "                                          CompanyType  CompanySize  \\\n",
       "0                         Publicly-traded corporation          8.0   \n",
       "9                         Publicly-traded corporation          7.0   \n",
       "12                        Publicly-traded corporation          6.0   \n",
       "13                        Publicly-traded corporation          8.0   \n",
       "18                        Publicly-traded corporation          8.0   \n",
       "21  Privately-held limited company, not in startup...          2.0   \n",
       "23                             Venture-funded startup          4.0   \n",
       "33                                       I don't know          6.0   \n",
       "35  Privately-held limited company, not in startup...          4.0   \n",
       "38  Privately-held limited company, not in startup...          8.0   \n",
       "\n",
       "                       Currency            Professional  \\\n",
       "0   British pounds sterling (£)  Professional developer   \n",
       "9   British pounds sterling (£)  Professional developer   \n",
       "12             U.S. dollars ($)  Professional developer   \n",
       "13             U.S. dollars ($)  Professional developer   \n",
       "18             U.S. dollars ($)  Professional developer   \n",
       "21                    Euros (€)  Professional developer   \n",
       "23                    Euros (€)  Professional developer   \n",
       "33                    Euros (€)  Professional developer   \n",
       "35                    Euros (€)  Professional developer   \n",
       "38                    Euros (€)  Professional developer   \n",
       "\n",
       "                                  HaveWorkedLanguage  JobSatisfaction  \\\n",
       "0                                  Java; PHP; Python              9.0   \n",
       "9                                   Assembly; C; C++              8.0   \n",
       "12  C; Clojure; JavaScript; Matlab; Rust; SQL; Swift              8.0   \n",
       "13                                               NaN              3.0   \n",
       "18                                       Java; Scala              7.0   \n",
       "21                                       Assembly; C              8.0   \n",
       "23                              C#; Java; JavaScript              NaN   \n",
       "33                             Java; JavaScript; PHP              9.0   \n",
       "35                                          Go; Java              6.0   \n",
       "38         C; C++; C#; Java; JavaScript; Matlab; SQL              5.0   \n",
       "\n",
       "           Salary      SalaryUSD  \n",
       "0   113750.000000  151287.500000  \n",
       "9   100000.000000  133000.000000  \n",
       "12  130000.000000  130000.000000  \n",
       "13   82500.000000   82500.000000  \n",
       "18  175000.000000  175000.000000  \n",
       "21   14838.709677   16767.741935  \n",
       "23  118279.569892  133655.913978  \n",
       "33   64516.129032   72903.225806  \n",
       "35   43010.752688   48602.150538  \n",
       "38   69892.473118   78978.494624  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>CompanyType</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>Currency</th>\n",
       "      <th>Professional</th>\n",
       "      <th>HaveWorkedLanguage</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>Salary</th>\n",
       "      <th>SalaryUSD</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>3</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; PHP; Python</td>\n",
       "      <td>9.0</td>\n",
       "      <td>113750.000000</td>\n",
       "      <td>151287.500000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>15</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Professional degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>7.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C; C++</td>\n",
       "      <td>8.0</td>\n",
       "      <td>100000.000000</td>\n",
       "      <td>133000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>6.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; Clojure; JavaScript; Matlab; Rust; SQL; Swift</td>\n",
       "      <td>8.0</td>\n",
       "      <td>130000.000000</td>\n",
       "      <td>130000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>19</td>\n",
       "      <td>NaN</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>NaN</td>\n",
       "      <td>3.0</td>\n",
       "      <td>82500.000000</td>\n",
       "      <td>82500.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; Scala</td>\n",
       "      <td>7.0</td>\n",
       "      <td>175000.000000</td>\n",
       "      <td>175000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>35</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>2.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C</td>\n",
       "      <td>8.0</td>\n",
       "      <td>14838.709677</td>\n",
       "      <td>16767.741935</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>38</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Some college/university study without earning ...</td>\n",
       "      <td>Venture-funded startup</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C#; Java; JavaScript</td>\n",
       "      <td>NaN</td>\n",
       "      <td>118279.569892</td>\n",
       "      <td>133655.913978</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33</th>\n",
       "      <td>55</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>I don't know</td>\n",
       "      <td>6.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; JavaScript; PHP</td>\n",
       "      <td>9.0</td>\n",
       "      <td>64516.129032</td>\n",
       "      <td>72903.225806</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35</th>\n",
       "      <td>58</td>\n",
       "      <td>0.0</td>\n",
       "      <td>13</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Go; Java</td>\n",
       "      <td>6.0</td>\n",
       "      <td>43010.752688</td>\n",
       "      <td>48602.150538</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38</th>\n",
       "      <td>65</td>\n",
       "      <td>0.0</td>\n",
       "      <td>16</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; C++; C#; Java; JavaScript; Matlab; SQL</td>\n",
       "      <td>5.0</td>\n",
       "      <td>69892.473118</td>\n",
       "      <td>78978.494624</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 557,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 557
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.483972Z",
     "start_time": "2025-06-01T11:37:22.477286Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Count missing values in each column\n",
    "missing_counts = df_professionals.isnull().sum()\n",
    "print(missing_counts[missing_counts > 0])"
   ],
   "id": "654f394411c3fe7f",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Gender                703\n",
      "CompanyType            12\n",
      "CompanySize           155\n",
      "HaveWorkedLanguage    442\n",
      "JobSatisfaction        32\n",
      "dtype: int64\n"
     ]
    }
   ],
   "execution_count": 558
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Drop rows where currency is NA",
   "id": "8d0e9726eccd2c6"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.490647Z",
     "start_time": "2025-06-01T11:37:22.483972Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Find rows where SalaryUSD is missing\n",
    "empty_salary = df_professionals[df_professionals[\"SalaryUSD\"].isna()]\n",
    "empty_salary.head(10)"
   ],
   "id": "c786c77a78a461f3",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Empty DataFrame\n",
       "Columns: [Respondent, Gender, Country, EmploymentStatus, FormalEducation, CompanyType, CompanySize, Currency, Professional, HaveWorkedLanguage, JobSatisfaction, Salary, SalaryUSD]\n",
       "Index: []"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>CompanyType</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>Currency</th>\n",
       "      <th>Professional</th>\n",
       "      <th>HaveWorkedLanguage</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>Salary</th>\n",
       "      <th>SalaryUSD</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 559,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 559
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.504447Z",
     "start_time": "2025-06-01T11:37:22.490647Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_professionals = df_professionals.dropna(subset=[\"Currency\"])\n",
    "df_professionals.head(10)"
   ],
   "id": "e90df78efb404a87",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    Respondent  Gender  Country    EmploymentStatus  \\\n",
       "0            3     0.0       27  Employed full-time   \n",
       "9           15     0.0       27  Employed full-time   \n",
       "12          18     0.0       28  Employed full-time   \n",
       "13          19     NaN       28  Employed full-time   \n",
       "18          26     0.0       28  Employed full-time   \n",
       "21          35     0.0        4  Employed full-time   \n",
       "23          38     0.0       10  Employed full-time   \n",
       "33          55     0.0       10  Employed full-time   \n",
       "35          58     0.0       13  Employed full-time   \n",
       "38          65     0.0       16  Employed full-time   \n",
       "\n",
       "                                      FormalEducation  \\\n",
       "0                                   Bachelor's degree   \n",
       "9                                 Professional degree   \n",
       "12                                  Bachelor's degree   \n",
       "13                                  Bachelor's degree   \n",
       "18                                    Master's degree   \n",
       "21                                  Bachelor's degree   \n",
       "23  Some college/university study without earning ...   \n",
       "33                                    Master's degree   \n",
       "35                                    Master's degree   \n",
       "38                                    Master's degree   \n",
       "\n",
       "                                          CompanyType  CompanySize  \\\n",
       "0                         Publicly-traded corporation          8.0   \n",
       "9                         Publicly-traded corporation          7.0   \n",
       "12                        Publicly-traded corporation          6.0   \n",
       "13                        Publicly-traded corporation          8.0   \n",
       "18                        Publicly-traded corporation          8.0   \n",
       "21  Privately-held limited company, not in startup...          2.0   \n",
       "23                             Venture-funded startup          4.0   \n",
       "33                                       I don't know          6.0   \n",
       "35  Privately-held limited company, not in startup...          4.0   \n",
       "38  Privately-held limited company, not in startup...          8.0   \n",
       "\n",
       "                       Currency            Professional  \\\n",
       "0   British pounds sterling (£)  Professional developer   \n",
       "9   British pounds sterling (£)  Professional developer   \n",
       "12             U.S. dollars ($)  Professional developer   \n",
       "13             U.S. dollars ($)  Professional developer   \n",
       "18             U.S. dollars ($)  Professional developer   \n",
       "21                    Euros (€)  Professional developer   \n",
       "23                    Euros (€)  Professional developer   \n",
       "33                    Euros (€)  Professional developer   \n",
       "35                    Euros (€)  Professional developer   \n",
       "38                    Euros (€)  Professional developer   \n",
       "\n",
       "                                  HaveWorkedLanguage  JobSatisfaction  \\\n",
       "0                                  Java; PHP; Python              9.0   \n",
       "9                                   Assembly; C; C++              8.0   \n",
       "12  C; Clojure; JavaScript; Matlab; Rust; SQL; Swift              8.0   \n",
       "13                                               NaN              3.0   \n",
       "18                                       Java; Scala              7.0   \n",
       "21                                       Assembly; C              8.0   \n",
       "23                              C#; Java; JavaScript              NaN   \n",
       "33                             Java; JavaScript; PHP              9.0   \n",
       "35                                          Go; Java              6.0   \n",
       "38         C; C++; C#; Java; JavaScript; Matlab; SQL              5.0   \n",
       "\n",
       "           Salary      SalaryUSD  \n",
       "0   113750.000000  151287.500000  \n",
       "9   100000.000000  133000.000000  \n",
       "12  130000.000000  130000.000000  \n",
       "13   82500.000000   82500.000000  \n",
       "18  175000.000000  175000.000000  \n",
       "21   14838.709677   16767.741935  \n",
       "23  118279.569892  133655.913978  \n",
       "33   64516.129032   72903.225806  \n",
       "35   43010.752688   48602.150538  \n",
       "38   69892.473118   78978.494624  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>CompanyType</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>Currency</th>\n",
       "      <th>Professional</th>\n",
       "      <th>HaveWorkedLanguage</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>Salary</th>\n",
       "      <th>SalaryUSD</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>3</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; PHP; Python</td>\n",
       "      <td>9.0</td>\n",
       "      <td>113750.000000</td>\n",
       "      <td>151287.500000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>15</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Professional degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>7.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C; C++</td>\n",
       "      <td>8.0</td>\n",
       "      <td>100000.000000</td>\n",
       "      <td>133000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>6.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; Clojure; JavaScript; Matlab; Rust; SQL; Swift</td>\n",
       "      <td>8.0</td>\n",
       "      <td>130000.000000</td>\n",
       "      <td>130000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>13</th>\n",
       "      <td>19</td>\n",
       "      <td>NaN</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>NaN</td>\n",
       "      <td>3.0</td>\n",
       "      <td>82500.000000</td>\n",
       "      <td>82500.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; Scala</td>\n",
       "      <td>7.0</td>\n",
       "      <td>175000.000000</td>\n",
       "      <td>175000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>35</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>2.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C</td>\n",
       "      <td>8.0</td>\n",
       "      <td>14838.709677</td>\n",
       "      <td>16767.741935</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>38</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Some college/university study without earning ...</td>\n",
       "      <td>Venture-funded startup</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C#; Java; JavaScript</td>\n",
       "      <td>NaN</td>\n",
       "      <td>118279.569892</td>\n",
       "      <td>133655.913978</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33</th>\n",
       "      <td>55</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>I don't know</td>\n",
       "      <td>6.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; JavaScript; PHP</td>\n",
       "      <td>9.0</td>\n",
       "      <td>64516.129032</td>\n",
       "      <td>72903.225806</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35</th>\n",
       "      <td>58</td>\n",
       "      <td>0.0</td>\n",
       "      <td>13</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Go; Java</td>\n",
       "      <td>6.0</td>\n",
       "      <td>43010.752688</td>\n",
       "      <td>48602.150538</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38</th>\n",
       "      <td>65</td>\n",
       "      <td>0.0</td>\n",
       "      <td>16</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; C++; C#; Java; JavaScript; Matlab; SQL</td>\n",
       "      <td>5.0</td>\n",
       "      <td>69892.473118</td>\n",
       "      <td>78978.494624</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 560,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 560
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.510871Z",
     "start_time": "2025-06-01T11:37:22.504447Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Count missing values in each column\n",
    "missing_counts = df_professionals.isnull().sum()\n",
    "print(missing_counts[missing_counts > 0])"
   ],
   "id": "41d6898fc9ba8d72",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Gender                703\n",
      "CompanyType            12\n",
      "CompanySize           155\n",
      "HaveWorkedLanguage    442\n",
      "JobSatisfaction        32\n",
      "dtype: int64\n"
     ]
    }
   ],
   "execution_count": 561
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.514755Z",
     "start_time": "2025-06-01T11:37:22.510871Z"
    }
   },
   "cell_type": "code",
   "source": "print(f\"Professionals: {len(df_professionals)} rows\")",
   "id": "7293d3cd5157c8e0",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Professionals: 8941 rows\n"
     ]
    }
   ],
   "execution_count": 562
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Drop rows where gender is NA",
   "id": "8e5cc3414770fd7e"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.531203Z",
     "start_time": "2025-06-01T11:37:22.514755Z"
    }
   },
   "cell_type": "code",
   "source": [
    "df_professionals = df_professionals.dropna(subset=[\"Gender\"])\n",
    "df_professionals.head(10)"
   ],
   "id": "c8ca428b3a38661e",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    Respondent  Gender  Country    EmploymentStatus  \\\n",
       "0            3     0.0       27  Employed full-time   \n",
       "9           15     0.0       27  Employed full-time   \n",
       "12          18     0.0       28  Employed full-time   \n",
       "18          26     0.0       28  Employed full-time   \n",
       "21          35     0.0        4  Employed full-time   \n",
       "23          38     0.0       10  Employed full-time   \n",
       "33          55     0.0       10  Employed full-time   \n",
       "35          58     0.0       13  Employed full-time   \n",
       "38          65     0.0       16  Employed full-time   \n",
       "39          66     0.0       18  Employed full-time   \n",
       "\n",
       "                                      FormalEducation  \\\n",
       "0                                   Bachelor's degree   \n",
       "9                                 Professional degree   \n",
       "12                                  Bachelor's degree   \n",
       "18                                    Master's degree   \n",
       "21                                  Bachelor's degree   \n",
       "23  Some college/university study without earning ...   \n",
       "33                                    Master's degree   \n",
       "35                                    Master's degree   \n",
       "38                                    Master's degree   \n",
       "39                                  Bachelor's degree   \n",
       "\n",
       "                                          CompanyType  CompanySize  \\\n",
       "0                         Publicly-traded corporation          8.0   \n",
       "9                         Publicly-traded corporation          7.0   \n",
       "12                        Publicly-traded corporation          6.0   \n",
       "18                        Publicly-traded corporation          8.0   \n",
       "21  Privately-held limited company, not in startup...          2.0   \n",
       "23                             Venture-funded startup          4.0   \n",
       "33                                       I don't know          6.0   \n",
       "35  Privately-held limited company, not in startup...          4.0   \n",
       "38  Privately-held limited company, not in startup...          8.0   \n",
       "39  Privately-held limited company, not in startup...          3.0   \n",
       "\n",
       "                       Currency            Professional  \\\n",
       "0   British pounds sterling (£)  Professional developer   \n",
       "9   British pounds sterling (£)  Professional developer   \n",
       "12             U.S. dollars ($)  Professional developer   \n",
       "18             U.S. dollars ($)  Professional developer   \n",
       "21                    Euros (€)  Professional developer   \n",
       "23                    Euros (€)  Professional developer   \n",
       "33                    Euros (€)  Professional developer   \n",
       "35                    Euros (€)  Professional developer   \n",
       "38                    Euros (€)  Professional developer   \n",
       "39            Polish zloty (zl)  Professional developer   \n",
       "\n",
       "                                  HaveWorkedLanguage  JobSatisfaction  \\\n",
       "0                                  Java; PHP; Python              9.0   \n",
       "9                                   Assembly; C; C++              8.0   \n",
       "12  C; Clojure; JavaScript; Matlab; Rust; SQL; Swift              8.0   \n",
       "18                                       Java; Scala              7.0   \n",
       "21                                       Assembly; C              8.0   \n",
       "23                              C#; Java; JavaScript              NaN   \n",
       "33                             Java; JavaScript; PHP              9.0   \n",
       "35                                          Go; Java              6.0   \n",
       "38         C; C++; C#; Java; JavaScript; Matlab; SQL              5.0   \n",
       "39                                        JavaScript              8.0   \n",
       "\n",
       "           Salary      SalaryUSD  \n",
       "0   113750.000000  151287.500000  \n",
       "9   100000.000000  133000.000000  \n",
       "12  130000.000000  130000.000000  \n",
       "18  175000.000000  175000.000000  \n",
       "21   14838.709677   16767.741935  \n",
       "23  118279.569892  133655.913978  \n",
       "33   64516.129032   72903.225806  \n",
       "35   43010.752688   48602.150538  \n",
       "38   69892.473118   78978.494624  \n",
       "39   17777.777778    4800.000000  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>CompanyType</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>Currency</th>\n",
       "      <th>Professional</th>\n",
       "      <th>HaveWorkedLanguage</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>Salary</th>\n",
       "      <th>SalaryUSD</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>3</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; PHP; Python</td>\n",
       "      <td>9.0</td>\n",
       "      <td>113750.000000</td>\n",
       "      <td>151287.500000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>15</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Professional degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>7.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C; C++</td>\n",
       "      <td>8.0</td>\n",
       "      <td>100000.000000</td>\n",
       "      <td>133000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>6.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; Clojure; JavaScript; Matlab; Rust; SQL; Swift</td>\n",
       "      <td>8.0</td>\n",
       "      <td>130000.000000</td>\n",
       "      <td>130000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; Scala</td>\n",
       "      <td>7.0</td>\n",
       "      <td>175000.000000</td>\n",
       "      <td>175000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>35</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>2.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C</td>\n",
       "      <td>8.0</td>\n",
       "      <td>14838.709677</td>\n",
       "      <td>16767.741935</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>38</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Some college/university study without earning ...</td>\n",
       "      <td>Venture-funded startup</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C#; Java; JavaScript</td>\n",
       "      <td>NaN</td>\n",
       "      <td>118279.569892</td>\n",
       "      <td>133655.913978</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33</th>\n",
       "      <td>55</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>I don't know</td>\n",
       "      <td>6.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; JavaScript; PHP</td>\n",
       "      <td>9.0</td>\n",
       "      <td>64516.129032</td>\n",
       "      <td>72903.225806</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35</th>\n",
       "      <td>58</td>\n",
       "      <td>0.0</td>\n",
       "      <td>13</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Go; Java</td>\n",
       "      <td>6.0</td>\n",
       "      <td>43010.752688</td>\n",
       "      <td>48602.150538</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38</th>\n",
       "      <td>65</td>\n",
       "      <td>0.0</td>\n",
       "      <td>16</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; C++; C#; Java; JavaScript; Matlab; SQL</td>\n",
       "      <td>5.0</td>\n",
       "      <td>69892.473118</td>\n",
       "      <td>78978.494624</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>39</th>\n",
       "      <td>66</td>\n",
       "      <td>0.0</td>\n",
       "      <td>18</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>3.0</td>\n",
       "      <td>Polish zloty (zl)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>JavaScript</td>\n",
       "      <td>8.0</td>\n",
       "      <td>17777.777778</td>\n",
       "      <td>4800.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 563,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 563
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.536911Z",
     "start_time": "2025-06-01T11:37:22.531203Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Count missing values in each column\n",
    "missing_counts = df_professionals.isnull().sum()\n",
    "print(missing_counts[missing_counts > 0])"
   ],
   "id": "d34fd869de5048ee",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "CompanyType            11\n",
      "CompanySize           136\n",
      "HaveWorkedLanguage     36\n",
      "JobSatisfaction        28\n",
      "dtype: int64\n"
     ]
    }
   ],
   "execution_count": 564
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.540225Z",
     "start_time": "2025-06-01T11:37:22.536911Z"
    }
   },
   "cell_type": "code",
   "source": "print(f\"Professionals: {len(df_professionals)} rows\")",
   "id": "7d7aab89f1925aca",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Professionals: 8238 rows\n"
     ]
    }
   ],
   "execution_count": 565
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.550816Z",
     "start_time": "2025-06-01T11:37:22.540225Z"
    }
   },
   "cell_type": "code",
   "source": "df_professionals.head(10)",
   "id": "e8922a58b1e233b5",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    Respondent  Gender  Country    EmploymentStatus  \\\n",
       "0            3     0.0       27  Employed full-time   \n",
       "9           15     0.0       27  Employed full-time   \n",
       "12          18     0.0       28  Employed full-time   \n",
       "18          26     0.0       28  Employed full-time   \n",
       "21          35     0.0        4  Employed full-time   \n",
       "23          38     0.0       10  Employed full-time   \n",
       "33          55     0.0       10  Employed full-time   \n",
       "35          58     0.0       13  Employed full-time   \n",
       "38          65     0.0       16  Employed full-time   \n",
       "39          66     0.0       18  Employed full-time   \n",
       "\n",
       "                                      FormalEducation  \\\n",
       "0                                   Bachelor's degree   \n",
       "9                                 Professional degree   \n",
       "12                                  Bachelor's degree   \n",
       "18                                    Master's degree   \n",
       "21                                  Bachelor's degree   \n",
       "23  Some college/university study without earning ...   \n",
       "33                                    Master's degree   \n",
       "35                                    Master's degree   \n",
       "38                                    Master's degree   \n",
       "39                                  Bachelor's degree   \n",
       "\n",
       "                                          CompanyType  CompanySize  \\\n",
       "0                         Publicly-traded corporation          8.0   \n",
       "9                         Publicly-traded corporation          7.0   \n",
       "12                        Publicly-traded corporation          6.0   \n",
       "18                        Publicly-traded corporation          8.0   \n",
       "21  Privately-held limited company, not in startup...          2.0   \n",
       "23                             Venture-funded startup          4.0   \n",
       "33                                       I don't know          6.0   \n",
       "35  Privately-held limited company, not in startup...          4.0   \n",
       "38  Privately-held limited company, not in startup...          8.0   \n",
       "39  Privately-held limited company, not in startup...          3.0   \n",
       "\n",
       "                       Currency            Professional  \\\n",
       "0   British pounds sterling (£)  Professional developer   \n",
       "9   British pounds sterling (£)  Professional developer   \n",
       "12             U.S. dollars ($)  Professional developer   \n",
       "18             U.S. dollars ($)  Professional developer   \n",
       "21                    Euros (€)  Professional developer   \n",
       "23                    Euros (€)  Professional developer   \n",
       "33                    Euros (€)  Professional developer   \n",
       "35                    Euros (€)  Professional developer   \n",
       "38                    Euros (€)  Professional developer   \n",
       "39            Polish zloty (zl)  Professional developer   \n",
       "\n",
       "                                  HaveWorkedLanguage  JobSatisfaction  \\\n",
       "0                                  Java; PHP; Python              9.0   \n",
       "9                                   Assembly; C; C++              8.0   \n",
       "12  C; Clojure; JavaScript; Matlab; Rust; SQL; Swift              8.0   \n",
       "18                                       Java; Scala              7.0   \n",
       "21                                       Assembly; C              8.0   \n",
       "23                              C#; Java; JavaScript              NaN   \n",
       "33                             Java; JavaScript; PHP              9.0   \n",
       "35                                          Go; Java              6.0   \n",
       "38         C; C++; C#; Java; JavaScript; Matlab; SQL              5.0   \n",
       "39                                        JavaScript              8.0   \n",
       "\n",
       "           Salary      SalaryUSD  \n",
       "0   113750.000000  151287.500000  \n",
       "9   100000.000000  133000.000000  \n",
       "12  130000.000000  130000.000000  \n",
       "18  175000.000000  175000.000000  \n",
       "21   14838.709677   16767.741935  \n",
       "23  118279.569892  133655.913978  \n",
       "33   64516.129032   72903.225806  \n",
       "35   43010.752688   48602.150538  \n",
       "38   69892.473118   78978.494624  \n",
       "39   17777.777778    4800.000000  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>CompanyType</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>Currency</th>\n",
       "      <th>Professional</th>\n",
       "      <th>HaveWorkedLanguage</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>Salary</th>\n",
       "      <th>SalaryUSD</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>3</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; PHP; Python</td>\n",
       "      <td>9.0</td>\n",
       "      <td>113750.000000</td>\n",
       "      <td>151287.500000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>15</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Professional degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>7.0</td>\n",
       "      <td>British pounds sterling (£)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C; C++</td>\n",
       "      <td>8.0</td>\n",
       "      <td>100000.000000</td>\n",
       "      <td>133000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>6.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; Clojure; JavaScript; Matlab; Rust; SQL; Swift</td>\n",
       "      <td>8.0</td>\n",
       "      <td>130000.000000</td>\n",
       "      <td>130000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>U.S. dollars ($)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; Scala</td>\n",
       "      <td>7.0</td>\n",
       "      <td>175000.000000</td>\n",
       "      <td>175000.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>35</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>2.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Assembly; C</td>\n",
       "      <td>8.0</td>\n",
       "      <td>14838.709677</td>\n",
       "      <td>16767.741935</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>38</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Some college/university study without earning ...</td>\n",
       "      <td>Venture-funded startup</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C#; Java; JavaScript</td>\n",
       "      <td>NaN</td>\n",
       "      <td>118279.569892</td>\n",
       "      <td>133655.913978</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33</th>\n",
       "      <td>55</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>I don't know</td>\n",
       "      <td>6.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Java; JavaScript; PHP</td>\n",
       "      <td>9.0</td>\n",
       "      <td>64516.129032</td>\n",
       "      <td>72903.225806</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35</th>\n",
       "      <td>58</td>\n",
       "      <td>0.0</td>\n",
       "      <td>13</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>Go; Java</td>\n",
       "      <td>6.0</td>\n",
       "      <td>43010.752688</td>\n",
       "      <td>48602.150538</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38</th>\n",
       "      <td>65</td>\n",
       "      <td>0.0</td>\n",
       "      <td>16</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>Euros (€)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>C; C++; C#; Java; JavaScript; Matlab; SQL</td>\n",
       "      <td>5.0</td>\n",
       "      <td>69892.473118</td>\n",
       "      <td>78978.494624</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>39</th>\n",
       "      <td>66</td>\n",
       "      <td>0.0</td>\n",
       "      <td>18</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>3.0</td>\n",
       "      <td>Polish zloty (zl)</td>\n",
       "      <td>Professional developer</td>\n",
       "      <td>JavaScript</td>\n",
       "      <td>8.0</td>\n",
       "      <td>17777.777778</td>\n",
       "      <td>4800.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "execution_count": 566,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 566
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Split languages column",
   "id": "d6753e46957d6e39"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.716976Z",
     "start_time": "2025-06-01T11:37:22.550816Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Split multiple-choice fields into binary columns\n",
    "def process_multichoice(df, column, prefix):\n",
    "    df[column] = df[column].fillna('')\n",
    "    languages = df[column].str.get_dummies(sep=';')\n",
    "    languages.columns = [f\"{prefix}_{col.strip()}\" for col in languages.columns]\n",
    "    return languages\n",
    "\n",
    "# Process languages\n",
    "have_lang = process_multichoice(df_professionals, \"HaveWorkedLanguage\", \"HWL\")\n",
    "\n",
    "# Combine with original DataFrame\n",
    "df_professionals = pd.concat([df_professionals, have_lang], axis=1)\n",
    "df_professionals.drop([\"HaveWorkedLanguage\", \"Currency\", \"Professional\", \"Salary\"], axis=1, inplace=True) # drop HaveWorkedLanguage, Currency and Salary columns"
   ],
   "id": "32dc6c0ccd41e086",
   "outputs": [],
   "execution_count": 567
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.723514Z",
     "start_time": "2025-06-01T11:37:22.717981Z"
    }
   },
   "cell_type": "code",
   "source": [
    "# Count missing values in each column\n",
    "missing_counts = df_professionals.isnull().sum()\n",
    "print(missing_counts[missing_counts > 0])"
   ],
   "id": "eda9799b365e7128",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "CompanyType         11\n",
      "CompanySize        136\n",
      "JobSatisfaction     28\n",
      "dtype: int64\n"
     ]
    }
   ],
   "execution_count": 568
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.726660Z",
     "start_time": "2025-06-01T11:37:22.723514Z"
    }
   },
   "cell_type": "code",
   "source": "print(f\"Professionals: {len(df_professionals)} rows\")",
   "id": "4f264949725f711",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Professionals: 8238 rows\n"
     ]
    }
   ],
   "execution_count": 569
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.739275Z",
     "start_time": "2025-06-01T11:37:22.726660Z"
    }
   },
   "cell_type": "code",
   "source": "df_professionals.head(10)",
   "id": "e16a48096772767b",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    Respondent  Gender  Country    EmploymentStatus  \\\n",
       "0            3     0.0       27  Employed full-time   \n",
       "9           15     0.0       27  Employed full-time   \n",
       "12          18     0.0       28  Employed full-time   \n",
       "18          26     0.0       28  Employed full-time   \n",
       "21          35     0.0        4  Employed full-time   \n",
       "23          38     0.0       10  Employed full-time   \n",
       "33          55     0.0       10  Employed full-time   \n",
       "35          58     0.0       13  Employed full-time   \n",
       "38          65     0.0       16  Employed full-time   \n",
       "39          66     0.0       18  Employed full-time   \n",
       "\n",
       "                                      FormalEducation  \\\n",
       "0                                   Bachelor's degree   \n",
       "9                                 Professional degree   \n",
       "12                                  Bachelor's degree   \n",
       "18                                    Master's degree   \n",
       "21                                  Bachelor's degree   \n",
       "23  Some college/university study without earning ...   \n",
       "33                                    Master's degree   \n",
       "35                                    Master's degree   \n",
       "38                                    Master's degree   \n",
       "39                                  Bachelor's degree   \n",
       "\n",
       "                                          CompanyType  CompanySize  \\\n",
       "0                         Publicly-traded corporation          8.0   \n",
       "9                         Publicly-traded corporation          7.0   \n",
       "12                        Publicly-traded corporation          6.0   \n",
       "18                        Publicly-traded corporation          8.0   \n",
       "21  Privately-held limited company, not in startup...          2.0   \n",
       "23                             Venture-funded startup          4.0   \n",
       "33                                       I don't know          6.0   \n",
       "35  Privately-held limited company, not in startup...          4.0   \n",
       "38  Privately-held limited company, not in startup...          8.0   \n",
       "39  Privately-held limited company, not in startup...          3.0   \n",
       "\n",
       "    JobSatisfaction      SalaryUSD  HWL_C  ...  HWL_R  HWL_Ruby  HWL_Rust  \\\n",
       "0               9.0  151287.500000      0  ...      0         0         0   \n",
       "9               8.0  133000.000000      1  ...      0         0         0   \n",
       "12              8.0  130000.000000      0  ...      0         0         0   \n",
       "18              7.0  175000.000000      0  ...      0         0         0   \n",
       "21              8.0   16767.741935      1  ...      0         0         0   \n",
       "23              NaN  133655.913978      0  ...      0         0         0   \n",
       "33              9.0   72903.225806      0  ...      0         0         0   \n",
       "35              6.0   48602.150538      0  ...      0         0         0   \n",
       "38              5.0   78978.494624      0  ...      0         0         0   \n",
       "39              8.0    4800.000000      0  ...      0         0         0   \n",
       "\n",
       "    HWL_SQL  HWL_Scala  HWL_Smalltalk  HWL_Swift  HWL_VB.NET  HWL_VBA  \\\n",
       "0         0          0              0          0           0        0   \n",
       "9         0          0              0          0           0        0   \n",
       "12        0          0              0          0           0        0   \n",
       "18        0          0              0          0           0        0   \n",
       "21        0          0              0          0           0        0   \n",
       "23        0          0              0          0           0        0   \n",
       "33        0          0              0          0           0        0   \n",
       "35        0          0              0          0           0        0   \n",
       "38        0          0              0          0           0        0   \n",
       "39        0          0              0          0           0        0   \n",
       "\n",
       "    HWL_Visual Basic 6  \n",
       "0                    0  \n",
       "9                    0  \n",
       "12                   0  \n",
       "18                   0  \n",
       "21                   0  \n",
       "23                   0  \n",
       "33                   0  \n",
       "35                   0  \n",
       "38                   0  \n",
       "39                   0  \n",
       "\n",
       "[10 rows x 77 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>EmploymentStatus</th>\n",
       "      <th>FormalEducation</th>\n",
       "      <th>CompanyType</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>SalaryUSD</th>\n",
       "      <th>HWL_C</th>\n",
       "      <th>...</th>\n",
       "      <th>HWL_R</th>\n",
       "      <th>HWL_Ruby</th>\n",
       "      <th>HWL_Rust</th>\n",
       "      <th>HWL_SQL</th>\n",
       "      <th>HWL_Scala</th>\n",
       "      <th>HWL_Smalltalk</th>\n",
       "      <th>HWL_Swift</th>\n",
       "      <th>HWL_VB.NET</th>\n",
       "      <th>HWL_VBA</th>\n",
       "      <th>HWL_Visual Basic 6</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>3</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>9.0</td>\n",
       "      <td>151287.500000</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>15</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Professional degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>7.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>133000.000000</td>\n",
       "      <td>1</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>6.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>130000.000000</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Publicly-traded corporation</td>\n",
       "      <td>8.0</td>\n",
       "      <td>7.0</td>\n",
       "      <td>175000.000000</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>35</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>2.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>16767.741935</td>\n",
       "      <td>1</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>38</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Some college/university study without earning ...</td>\n",
       "      <td>Venture-funded startup</td>\n",
       "      <td>4.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>133655.913978</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33</th>\n",
       "      <td>55</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>I don't know</td>\n",
       "      <td>6.0</td>\n",
       "      <td>9.0</td>\n",
       "      <td>72903.225806</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35</th>\n",
       "      <td>58</td>\n",
       "      <td>0.0</td>\n",
       "      <td>13</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>4.0</td>\n",
       "      <td>6.0</td>\n",
       "      <td>48602.150538</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38</th>\n",
       "      <td>65</td>\n",
       "      <td>0.0</td>\n",
       "      <td>16</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Master's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>8.0</td>\n",
       "      <td>5.0</td>\n",
       "      <td>78978.494624</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>39</th>\n",
       "      <td>66</td>\n",
       "      <td>0.0</td>\n",
       "      <td>18</td>\n",
       "      <td>Employed full-time</td>\n",
       "      <td>Bachelor's degree</td>\n",
       "      <td>Privately-held limited company, not in startup...</td>\n",
       "      <td>3.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>4800.000000</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10 rows × 77 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 570,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 570
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Change NA values in JobSatisfaction with the median",
   "id": "9c6e69c82888f97d"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.743795Z",
     "start_time": "2025-06-01T11:37:22.739275Z"
    }
   },
   "cell_type": "code",
   "source": "df_professionals[\"JobSatisfaction\"] = df_professionals[\"JobSatisfaction\"].fillna(df_professionals[\"JobSatisfaction\"].median())",
   "id": "a4a47f16b77b7798",
   "outputs": [],
   "execution_count": 571
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Encoding of categorical values",
   "id": "8df786ba52d20e88"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.755309Z",
     "start_time": "2025-06-01T11:37:22.743795Z"
    }
   },
   "cell_type": "code",
   "source": [
    "categorical_cols = [\"EmploymentStatus\", \"FormalEducation\", \"CompanyType\"]\n",
    "df_professionals = pd.get_dummies(df_professionals, columns=categorical_cols)"
   ],
   "id": "17bf2a1d74c54932",
   "outputs": [],
   "execution_count": 572
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Outliers deletion",
   "id": "d6032b7517857e64"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.761677Z",
     "start_time": "2025-06-01T11:37:22.755309Z"
    }
   },
   "cell_type": "code",
   "source": [
    "before = df_professionals.shape[0]\n",
    "df_professionals = df_professionals[df_professionals[\"SalaryUSD\"] <= 190000]\n",
    "after = df_professionals.shape[0]\n",
    "\n",
    "print(f\"Removed {before - after} rows with SalaryUSD > $190,000\")\n",
    "print(f\"Professionals: {len(df_professionals)} rows\")"
   ],
   "id": "f154378f5e1e478d",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Removed 23 rows with SalaryUSD > $190,000\n",
      "Professionals: 8215 rows\n"
     ]
    }
   ],
   "execution_count": 573
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.775022Z",
     "start_time": "2025-06-01T11:37:22.761677Z"
    }
   },
   "cell_type": "code",
   "source": "df_professionals.head(10)",
   "id": "d20677d97626c48f",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "    Respondent  Gender  Country  CompanySize  JobSatisfaction      SalaryUSD  \\\n",
       "0            3     0.0       27          8.0              9.0  151287.500000   \n",
       "9           15     0.0       27          7.0              8.0  133000.000000   \n",
       "12          18     0.0       28          6.0              8.0  130000.000000   \n",
       "18          26     0.0       28          8.0              7.0  175000.000000   \n",
       "21          35     0.0        4          2.0              8.0   16767.741935   \n",
       "23          38     0.0       10          4.0              7.0  133655.913978   \n",
       "33          55     0.0       10          6.0              9.0   72903.225806   \n",
       "35          58     0.0       13          4.0              6.0   48602.150538   \n",
       "38          65     0.0       16          8.0              5.0   78978.494624   \n",
       "39          66     0.0       18          3.0              8.0    4800.000000   \n",
       "\n",
       "    HWL_C  HWL_C#  HWL_C++  HWL_Clojure  ...  CompanyType_I don't know  \\\n",
       "0       0       0        0            0  ...                     False   \n",
       "9       1       0        1            0  ...                     False   \n",
       "12      0       0        0            1  ...                     False   \n",
       "18      0       0        0            0  ...                     False   \n",
       "21      1       0        0            0  ...                     False   \n",
       "23      0       0        0            0  ...                     False   \n",
       "33      0       0        0            0  ...                      True   \n",
       "35      0       0        0            0  ...                     False   \n",
       "38      0       1        1            0  ...                     False   \n",
       "39      0       0        0            0  ...                     False   \n",
       "\n",
       "    CompanyType_I prefer not to answer  \\\n",
       "0                                False   \n",
       "9                                False   \n",
       "12                               False   \n",
       "18                               False   \n",
       "21                               False   \n",
       "23                               False   \n",
       "33                               False   \n",
       "35                               False   \n",
       "38                               False   \n",
       "39                               False   \n",
       "\n",
       "    CompanyType_Non-profit/non-governmental organization or private school/university  \\\n",
       "0                                               False                                   \n",
       "9                                               False                                   \n",
       "12                                              False                                   \n",
       "18                                              False                                   \n",
       "21                                              False                                   \n",
       "23                                              False                                   \n",
       "33                                              False                                   \n",
       "35                                              False                                   \n",
       "38                                              False                                   \n",
       "39                                              False                                   \n",
       "\n",
       "    CompanyType_Pre-series A startup  \\\n",
       "0                              False   \n",
       "9                              False   \n",
       "12                             False   \n",
       "18                             False   \n",
       "21                             False   \n",
       "23                             False   \n",
       "33                             False   \n",
       "35                             False   \n",
       "38                             False   \n",
       "39                             False   \n",
       "\n",
       "    CompanyType_Privately-held limited company, not in startup mode  \\\n",
       "0                                               False                 \n",
       "9                                               False                 \n",
       "12                                              False                 \n",
       "18                                              False                 \n",
       "21                                               True                 \n",
       "23                                              False                 \n",
       "33                                              False                 \n",
       "35                                               True                 \n",
       "38                                               True                 \n",
       "39                                               True                 \n",
       "\n",
       "    CompanyType_Publicly-traded corporation  \\\n",
       "0                                      True   \n",
       "9                                      True   \n",
       "12                                     True   \n",
       "18                                     True   \n",
       "21                                    False   \n",
       "23                                    False   \n",
       "33                                    False   \n",
       "35                                    False   \n",
       "38                                    False   \n",
       "39                                    False   \n",
       "\n",
       "    CompanyType_Sole proprietorship or partnership, not in startup mode  \\\n",
       "0                                               False                     \n",
       "9                                               False                     \n",
       "12                                              False                     \n",
       "18                                              False                     \n",
       "21                                              False                     \n",
       "23                                              False                     \n",
       "33                                              False                     \n",
       "35                                              False                     \n",
       "38                                              False                     \n",
       "39                                              False                     \n",
       "\n",
       "    CompanyType_Something else  CompanyType_State-owned company  \\\n",
       "0                        False                            False   \n",
       "9                        False                            False   \n",
       "12                       False                            False   \n",
       "18                       False                            False   \n",
       "21                       False                            False   \n",
       "23                       False                            False   \n",
       "33                       False                            False   \n",
       "35                       False                            False   \n",
       "38                       False                            False   \n",
       "39                       False                            False   \n",
       "\n",
       "    CompanyType_Venture-funded startup  \n",
       "0                                False  \n",
       "9                                False  \n",
       "12                               False  \n",
       "18                               False  \n",
       "21                               False  \n",
       "23                                True  \n",
       "33                               False  \n",
       "35                               False  \n",
       "38                               False  \n",
       "39                               False  \n",
       "\n",
       "[10 rows x 96 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Respondent</th>\n",
       "      <th>Gender</th>\n",
       "      <th>Country</th>\n",
       "      <th>CompanySize</th>\n",
       "      <th>JobSatisfaction</th>\n",
       "      <th>SalaryUSD</th>\n",
       "      <th>HWL_C</th>\n",
       "      <th>HWL_C#</th>\n",
       "      <th>HWL_C++</th>\n",
       "      <th>HWL_Clojure</th>\n",
       "      <th>...</th>\n",
       "      <th>CompanyType_I don't know</th>\n",
       "      <th>CompanyType_I prefer not to answer</th>\n",
       "      <th>CompanyType_Non-profit/non-governmental organization or private school/university</th>\n",
       "      <th>CompanyType_Pre-series A startup</th>\n",
       "      <th>CompanyType_Privately-held limited company, not in startup mode</th>\n",
       "      <th>CompanyType_Publicly-traded corporation</th>\n",
       "      <th>CompanyType_Sole proprietorship or partnership, not in startup mode</th>\n",
       "      <th>CompanyType_Something else</th>\n",
       "      <th>CompanyType_State-owned company</th>\n",
       "      <th>CompanyType_Venture-funded startup</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>3</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>8.0</td>\n",
       "      <td>9.0</td>\n",
       "      <td>151287.500000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>9</th>\n",
       "      <td>15</td>\n",
       "      <td>0.0</td>\n",
       "      <td>27</td>\n",
       "      <td>7.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>133000.000000</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>12</th>\n",
       "      <td>18</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>6.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>130000.000000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>18</th>\n",
       "      <td>26</td>\n",
       "      <td>0.0</td>\n",
       "      <td>28</td>\n",
       "      <td>8.0</td>\n",
       "      <td>7.0</td>\n",
       "      <td>175000.000000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>21</th>\n",
       "      <td>35</td>\n",
       "      <td>0.0</td>\n",
       "      <td>4</td>\n",
       "      <td>2.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>16767.741935</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>23</th>\n",
       "      <td>38</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>4.0</td>\n",
       "      <td>7.0</td>\n",
       "      <td>133655.913978</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>33</th>\n",
       "      <td>55</td>\n",
       "      <td>0.0</td>\n",
       "      <td>10</td>\n",
       "      <td>6.0</td>\n",
       "      <td>9.0</td>\n",
       "      <td>72903.225806</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>35</th>\n",
       "      <td>58</td>\n",
       "      <td>0.0</td>\n",
       "      <td>13</td>\n",
       "      <td>4.0</td>\n",
       "      <td>6.0</td>\n",
       "      <td>48602.150538</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>38</th>\n",
       "      <td>65</td>\n",
       "      <td>0.0</td>\n",
       "      <td>16</td>\n",
       "      <td>8.0</td>\n",
       "      <td>5.0</td>\n",
       "      <td>78978.494624</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>39</th>\n",
       "      <td>66</td>\n",
       "      <td>0.0</td>\n",
       "      <td>18</td>\n",
       "      <td>3.0</td>\n",
       "      <td>8.0</td>\n",
       "      <td>4800.000000</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>...</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>True</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "      <td>False</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>10 rows × 96 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 574,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 574
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Decision Tree Model",
   "id": "848024f194531862"
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### Specify type of DT",
   "id": "c012f51fd83c92eb"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.780703Z",
     "start_time": "2025-06-01T11:37:22.775022Z"
    }
   },
   "cell_type": "code",
   "source": [
    "target = \"SalaryUSD\"  # or \"JobSatisfaction\"\n",
    "\n",
    "cols_to_drop = [\"Respondent\", \"SalaryUSD\", \"JobSatisfaction\"]\n",
    "cols_to_drop.remove(target)  # remove the target from drop list\n",
    "\n",
    "X = df_professionals.drop(columns=cols_to_drop)\n",
    "y = df_professionals[target]"
   ],
   "id": "f8c4e995f1e7a16b",
   "outputs": [],
   "execution_count": 575
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### DT training",
   "id": "468a4367afa2006a"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.827427Z",
     "start_time": "2025-06-01T11:37:22.780703Z"
    }
   },
   "cell_type": "code",
   "source": [
    "from sklearn.tree import DecisionTreeRegressor\n",
    "from sklearn.model_selection import train_test_split\n",
    "\n",
    "X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)\n",
    "\n",
    "model = DecisionTreeRegressor(random_state=42)\n",
    "model.fit(X_train, y_train)"
   ],
   "id": "5add81010f0197c7",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "DecisionTreeRegressor(random_state=42)"
      ],
      "text/html": [
       "<style>#sk-container-id-10 {\n",
       "  /* Definition of color scheme common for light and dark mode */\n",
       "  --sklearn-color-text: #000;\n",
       "  --sklearn-color-text-muted: #666;\n",
       "  --sklearn-color-line: gray;\n",
       "  /* Definition of color scheme for unfitted estimators */\n",
       "  --sklearn-color-unfitted-level-0: #fff5e6;\n",
       "  --sklearn-color-unfitted-level-1: #f6e4d2;\n",
       "  --sklearn-color-unfitted-level-2: #ffe0b3;\n",
       "  --sklearn-color-unfitted-level-3: chocolate;\n",
       "  /* Definition of color scheme for fitted estimators */\n",
       "  --sklearn-color-fitted-level-0: #f0f8ff;\n",
       "  --sklearn-color-fitted-level-1: #d4ebff;\n",
       "  --sklearn-color-fitted-level-2: #b3dbfd;\n",
       "  --sklearn-color-fitted-level-3: cornflowerblue;\n",
       "\n",
       "  /* Specific color for light theme */\n",
       "  --sklearn-color-text-on-default-background: var(--sg-text-color, var(--theme-code-foreground, var(--jp-content-font-color1, black)));\n",
       "  --sklearn-color-background: var(--sg-background-color, var(--theme-background, var(--jp-layout-color0, white)));\n",
       "  --sklearn-color-border-box: var(--sg-text-color, var(--theme-code-foreground, var(--jp-content-font-color1, black)));\n",
       "  --sklearn-color-icon: #696969;\n",
       "\n",
       "  @media (prefers-color-scheme: dark) {\n",
       "    /* Redefinition of color scheme for dark theme */\n",
       "    --sklearn-color-text-on-default-background: var(--sg-text-color, var(--theme-code-foreground, var(--jp-content-font-color1, white)));\n",
       "    --sklearn-color-background: var(--sg-background-color, var(--theme-background, var(--jp-layout-color0, #111)));\n",
       "    --sklearn-color-border-box: var(--sg-text-color, var(--theme-code-foreground, var(--jp-content-font-color1, white)));\n",
       "    --sklearn-color-icon: #878787;\n",
       "  }\n",
       "}\n",
       "\n",
       "#sk-container-id-10 {\n",
       "  color: var(--sklearn-color-text);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 pre {\n",
       "  padding: 0;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 input.sk-hidden--visually {\n",
       "  border: 0;\n",
       "  clip: rect(1px 1px 1px 1px);\n",
       "  clip: rect(1px, 1px, 1px, 1px);\n",
       "  height: 1px;\n",
       "  margin: -1px;\n",
       "  overflow: hidden;\n",
       "  padding: 0;\n",
       "  position: absolute;\n",
       "  width: 1px;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-dashed-wrapped {\n",
       "  border: 1px dashed var(--sklearn-color-line);\n",
       "  margin: 0 0.4em 0.5em 0.4em;\n",
       "  box-sizing: border-box;\n",
       "  padding-bottom: 0.4em;\n",
       "  background-color: var(--sklearn-color-background);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-container {\n",
       "  /* jupyter's `normalize.less` sets `[hidden] { display: none; }`\n",
       "     but bootstrap.min.css set `[hidden] { display: none !important; }`\n",
       "     so we also need the `!important` here to be able to override the\n",
       "     default hidden behavior on the sphinx rendered scikit-learn.org.\n",
       "     See: https://github.com/scikit-learn/scikit-learn/issues/21755 */\n",
       "  display: inline-block !important;\n",
       "  position: relative;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-text-repr-fallback {\n",
       "  display: none;\n",
       "}\n",
       "\n",
       "div.sk-parallel-item,\n",
       "div.sk-serial,\n",
       "div.sk-item {\n",
       "  /* draw centered vertical line to link estimators */\n",
       "  background-image: linear-gradient(var(--sklearn-color-text-on-default-background), var(--sklearn-color-text-on-default-background));\n",
       "  background-size: 2px 100%;\n",
       "  background-repeat: no-repeat;\n",
       "  background-position: center center;\n",
       "}\n",
       "\n",
       "/* Parallel-specific style estimator block */\n",
       "\n",
       "#sk-container-id-10 div.sk-parallel-item::after {\n",
       "  content: \"\";\n",
       "  width: 100%;\n",
       "  border-bottom: 2px solid var(--sklearn-color-text-on-default-background);\n",
       "  flex-grow: 1;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-parallel {\n",
       "  display: flex;\n",
       "  align-items: stretch;\n",
       "  justify-content: center;\n",
       "  background-color: var(--sklearn-color-background);\n",
       "  position: relative;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-parallel-item {\n",
       "  display: flex;\n",
       "  flex-direction: column;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-parallel-item:first-child::after {\n",
       "  align-self: flex-end;\n",
       "  width: 50%;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-parallel-item:last-child::after {\n",
       "  align-self: flex-start;\n",
       "  width: 50%;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-parallel-item:only-child::after {\n",
       "  width: 0;\n",
       "}\n",
       "\n",
       "/* Serial-specific style estimator block */\n",
       "\n",
       "#sk-container-id-10 div.sk-serial {\n",
       "  display: flex;\n",
       "  flex-direction: column;\n",
       "  align-items: center;\n",
       "  background-color: var(--sklearn-color-background);\n",
       "  padding-right: 1em;\n",
       "  padding-left: 1em;\n",
       "}\n",
       "\n",
       "\n",
       "/* Toggleable style: style used for estimator/Pipeline/ColumnTransformer box that is\n",
       "clickable and can be expanded/collapsed.\n",
       "- Pipeline and ColumnTransformer use this feature and define the default style\n",
       "- Estimators will overwrite some part of the style using the `sk-estimator` class\n",
       "*/\n",
       "\n",
       "/* Pipeline and ColumnTransformer style (default) */\n",
       "\n",
       "#sk-container-id-10 div.sk-toggleable {\n",
       "  /* Default theme specific background. It is overwritten whether we have a\n",
       "  specific estimator or a Pipeline/ColumnTransformer */\n",
       "  background-color: var(--sklearn-color-background);\n",
       "}\n",
       "\n",
       "/* Toggleable label */\n",
       "#sk-container-id-10 label.sk-toggleable__label {\n",
       "  cursor: pointer;\n",
       "  display: flex;\n",
       "  width: 100%;\n",
       "  margin-bottom: 0;\n",
       "  padding: 0.5em;\n",
       "  box-sizing: border-box;\n",
       "  text-align: center;\n",
       "  align-items: start;\n",
       "  justify-content: space-between;\n",
       "  gap: 0.5em;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 label.sk-toggleable__label .caption {\n",
       "  font-size: 0.6rem;\n",
       "  font-weight: lighter;\n",
       "  color: var(--sklearn-color-text-muted);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 label.sk-toggleable__label-arrow:before {\n",
       "  /* Arrow on the left of the label */\n",
       "  content: \"▸\";\n",
       "  float: left;\n",
       "  margin-right: 0.25em;\n",
       "  color: var(--sklearn-color-icon);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 label.sk-toggleable__label-arrow:hover:before {\n",
       "  color: var(--sklearn-color-text);\n",
       "}\n",
       "\n",
       "/* Toggleable content - dropdown */\n",
       "\n",
       "#sk-container-id-10 div.sk-toggleable__content {\n",
       "  max-height: 0;\n",
       "  max-width: 0;\n",
       "  overflow: hidden;\n",
       "  text-align: left;\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-0);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-toggleable__content.fitted {\n",
       "  /* fitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-0);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-toggleable__content pre {\n",
       "  margin: 0.2em;\n",
       "  border-radius: 0.25em;\n",
       "  color: var(--sklearn-color-text);\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-0);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-toggleable__content.fitted pre {\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-0);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 input.sk-toggleable__control:checked~div.sk-toggleable__content {\n",
       "  /* Expand drop-down */\n",
       "  max-height: 200px;\n",
       "  max-width: 100%;\n",
       "  overflow: auto;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 input.sk-toggleable__control:checked~label.sk-toggleable__label-arrow:before {\n",
       "  content: \"▾\";\n",
       "}\n",
       "\n",
       "/* Pipeline/ColumnTransformer-specific style */\n",
       "\n",
       "#sk-container-id-10 div.sk-label input.sk-toggleable__control:checked~label.sk-toggleable__label {\n",
       "  color: var(--sklearn-color-text);\n",
       "  background-color: var(--sklearn-color-unfitted-level-2);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-label.fitted input.sk-toggleable__control:checked~label.sk-toggleable__label {\n",
       "  background-color: var(--sklearn-color-fitted-level-2);\n",
       "}\n",
       "\n",
       "/* Estimator-specific style */\n",
       "\n",
       "/* Colorize estimator box */\n",
       "#sk-container-id-10 div.sk-estimator input.sk-toggleable__control:checked~label.sk-toggleable__label {\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-2);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-estimator.fitted input.sk-toggleable__control:checked~label.sk-toggleable__label {\n",
       "  /* fitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-2);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-label label.sk-toggleable__label,\n",
       "#sk-container-id-10 div.sk-label label {\n",
       "  /* The background is the default theme color */\n",
       "  color: var(--sklearn-color-text-on-default-background);\n",
       "}\n",
       "\n",
       "/* On hover, darken the color of the background */\n",
       "#sk-container-id-10 div.sk-label:hover label.sk-toggleable__label {\n",
       "  color: var(--sklearn-color-text);\n",
       "  background-color: var(--sklearn-color-unfitted-level-2);\n",
       "}\n",
       "\n",
       "/* Label box, darken color on hover, fitted */\n",
       "#sk-container-id-10 div.sk-label.fitted:hover label.sk-toggleable__label.fitted {\n",
       "  color: var(--sklearn-color-text);\n",
       "  background-color: var(--sklearn-color-fitted-level-2);\n",
       "}\n",
       "\n",
       "/* Estimator label */\n",
       "\n",
       "#sk-container-id-10 div.sk-label label {\n",
       "  font-family: monospace;\n",
       "  font-weight: bold;\n",
       "  display: inline-block;\n",
       "  line-height: 1.2em;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-label-container {\n",
       "  text-align: center;\n",
       "}\n",
       "\n",
       "/* Estimator-specific */\n",
       "#sk-container-id-10 div.sk-estimator {\n",
       "  font-family: monospace;\n",
       "  border: 1px dotted var(--sklearn-color-border-box);\n",
       "  border-radius: 0.25em;\n",
       "  box-sizing: border-box;\n",
       "  margin-bottom: 0.5em;\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-0);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-estimator.fitted {\n",
       "  /* fitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-0);\n",
       "}\n",
       "\n",
       "/* on hover */\n",
       "#sk-container-id-10 div.sk-estimator:hover {\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-2);\n",
       "}\n",
       "\n",
       "#sk-container-id-10 div.sk-estimator.fitted:hover {\n",
       "  /* fitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-2);\n",
       "}\n",
       "\n",
       "/* Specification for estimator info (e.g. \"i\" and \"?\") */\n",
       "\n",
       "/* Common style for \"i\" and \"?\" */\n",
       "\n",
       ".sk-estimator-doc-link,\n",
       "a:link.sk-estimator-doc-link,\n",
       "a:visited.sk-estimator-doc-link {\n",
       "  float: right;\n",
       "  font-size: smaller;\n",
       "  line-height: 1em;\n",
       "  font-family: monospace;\n",
       "  background-color: var(--sklearn-color-background);\n",
       "  border-radius: 1em;\n",
       "  height: 1em;\n",
       "  width: 1em;\n",
       "  text-decoration: none !important;\n",
       "  margin-left: 0.5em;\n",
       "  text-align: center;\n",
       "  /* unfitted */\n",
       "  border: var(--sklearn-color-unfitted-level-1) 1pt solid;\n",
       "  color: var(--sklearn-color-unfitted-level-1);\n",
       "}\n",
       "\n",
       ".sk-estimator-doc-link.fitted,\n",
       "a:link.sk-estimator-doc-link.fitted,\n",
       "a:visited.sk-estimator-doc-link.fitted {\n",
       "  /* fitted */\n",
       "  border: var(--sklearn-color-fitted-level-1) 1pt solid;\n",
       "  color: var(--sklearn-color-fitted-level-1);\n",
       "}\n",
       "\n",
       "/* On hover */\n",
       "div.sk-estimator:hover .sk-estimator-doc-link:hover,\n",
       ".sk-estimator-doc-link:hover,\n",
       "div.sk-label-container:hover .sk-estimator-doc-link:hover,\n",
       ".sk-estimator-doc-link:hover {\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-3);\n",
       "  color: var(--sklearn-color-background);\n",
       "  text-decoration: none;\n",
       "}\n",
       "\n",
       "div.sk-estimator.fitted:hover .sk-estimator-doc-link.fitted:hover,\n",
       ".sk-estimator-doc-link.fitted:hover,\n",
       "div.sk-label-container:hover .sk-estimator-doc-link.fitted:hover,\n",
       ".sk-estimator-doc-link.fitted:hover {\n",
       "  /* fitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-3);\n",
       "  color: var(--sklearn-color-background);\n",
       "  text-decoration: none;\n",
       "}\n",
       "\n",
       "/* Span, style for the box shown on hovering the info icon */\n",
       ".sk-estimator-doc-link span {\n",
       "  display: none;\n",
       "  z-index: 9999;\n",
       "  position: relative;\n",
       "  font-weight: normal;\n",
       "  right: .2ex;\n",
       "  padding: .5ex;\n",
       "  margin: .5ex;\n",
       "  width: min-content;\n",
       "  min-width: 20ex;\n",
       "  max-width: 50ex;\n",
       "  color: var(--sklearn-color-text);\n",
       "  box-shadow: 2pt 2pt 4pt #999;\n",
       "  /* unfitted */\n",
       "  background: var(--sklearn-color-unfitted-level-0);\n",
       "  border: .5pt solid var(--sklearn-color-unfitted-level-3);\n",
       "}\n",
       "\n",
       ".sk-estimator-doc-link.fitted span {\n",
       "  /* fitted */\n",
       "  background: var(--sklearn-color-fitted-level-0);\n",
       "  border: var(--sklearn-color-fitted-level-3);\n",
       "}\n",
       "\n",
       ".sk-estimator-doc-link:hover span {\n",
       "  display: block;\n",
       "}\n",
       "\n",
       "/* \"?\"-specific style due to the `<a>` HTML tag */\n",
       "\n",
       "#sk-container-id-10 a.estimator_doc_link {\n",
       "  float: right;\n",
       "  font-size: 1rem;\n",
       "  line-height: 1em;\n",
       "  font-family: monospace;\n",
       "  background-color: var(--sklearn-color-background);\n",
       "  border-radius: 1rem;\n",
       "  height: 1rem;\n",
       "  width: 1rem;\n",
       "  text-decoration: none;\n",
       "  /* unfitted */\n",
       "  color: var(--sklearn-color-unfitted-level-1);\n",
       "  border: var(--sklearn-color-unfitted-level-1) 1pt solid;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 a.estimator_doc_link.fitted {\n",
       "  /* fitted */\n",
       "  border: var(--sklearn-color-fitted-level-1) 1pt solid;\n",
       "  color: var(--sklearn-color-fitted-level-1);\n",
       "}\n",
       "\n",
       "/* On hover */\n",
       "#sk-container-id-10 a.estimator_doc_link:hover {\n",
       "  /* unfitted */\n",
       "  background-color: var(--sklearn-color-unfitted-level-3);\n",
       "  color: var(--sklearn-color-background);\n",
       "  text-decoration: none;\n",
       "}\n",
       "\n",
       "#sk-container-id-10 a.estimator_doc_link.fitted:hover {\n",
       "  /* fitted */\n",
       "  background-color: var(--sklearn-color-fitted-level-3);\n",
       "}\n",
       "</style><div id=\"sk-container-id-10\" class=\"sk-top-container\"><div class=\"sk-text-repr-fallback\"><pre>DecisionTreeRegressor(random_state=42)</pre><b>In a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook. <br />On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.</b></div><div class=\"sk-container\" hidden><div class=\"sk-item\"><div class=\"sk-estimator fitted sk-toggleable\"><input class=\"sk-toggleable__control sk-hidden--visually\" id=\"sk-estimator-id-10\" type=\"checkbox\" checked><label for=\"sk-estimator-id-10\" class=\"sk-toggleable__label fitted sk-toggleable__label-arrow\"><div><div>DecisionTreeRegressor</div></div><div><a class=\"sk-estimator-doc-link fitted\" rel=\"noreferrer\" target=\"_blank\" href=\"https://scikit-learn.org/1.6/modules/generated/sklearn.tree.DecisionTreeRegressor.html\">?<span>Documentation for DecisionTreeRegressor</span></a><span class=\"sk-estimator-doc-link fitted\">i<span>Fitted</span></span></div></label><div class=\"sk-toggleable__content fitted\"><pre>DecisionTreeRegressor(random_state=42)</pre></div> </div></div></div></div>"
      ]
     },
     "execution_count": 576,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 576
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "### DT evaluation",
   "id": "b6d3bb0e21dbc8fc"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.834168Z",
     "start_time": "2025-06-01T11:37:22.827427Z"
    }
   },
   "cell_type": "code",
   "source": [
    "from sklearn.metrics import mean_absolute_error, r2_score\n",
    "\n",
    "y_pred = model.predict(X_test)\n",
    "print(\"MAE:\", mean_absolute_error(y_test, y_pred))\n",
    "print(\"R²:\", r2_score(y_test, y_pred))"
   ],
   "id": "e64763dedeefad8b",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "MAE: 14.817328918148608\n",
      "R²: 0.9999976097209511\n"
     ]
    }
   ],
   "execution_count": 577
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": "## Check the results",
   "id": "cdaf26f79c94cfec"
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-06-01T11:37:22.837619Z",
     "start_time": "2025-06-01T11:37:22.834168Z"
    }
   },
   "cell_type": "code",
   "source": "",
   "id": "dbafd8d83ec78823",
   "outputs": [],
   "execution_count": 577
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}